
/* ======================================================= blog home */
.blog-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: yellow; */
  height: 100px;
}

.blog-header-left {
  width: 300px;
  /* background-color: green; */
}

.blog-header-middle {
  flex-grow: 1;
}

.blog-header-right {
  width: 300px;
  text-align: right;
  /* background-color: beige; */
  align-self: center;
}

.blog-header-float-right  {
  /* display: inline;  */
  float: right; 
  display: flex;
  align-items: center;
  height: 70px;
}

/* blog home icon */
.blog-header-home {
  background-color: black;
  color: white; 
  font-size: 1.4em;
  font-weight: bold;
  /* margin: 0 20px; */
}

.blog-header-name {
  font-size: 1.2em;
  font-weight: bold;
}

.blog-header-right-float { 
  float: right; 
  height: 60px;
  display: flex;
  align-items: center;
}
/*
.blog-right-center {
  display: flex;
  align-items: center;
} */



/* ======================================================= blog main */
.blog-main-container { 
  width: 80%;  /* 특정 블로그의 전체 넓이 */
  max-width: 1400px;
  /* background-color: bisque; */
  margin: auto;
}

.blog-main-table { 
  width: 100%;
  display: table;
}

.blog-main-navi, .blog-main-content, .blog-main-sidebar { 
  display: table-cell;
}

.blog-main-navi { 
  width: 200px;
  /* background-color: yellow;; */
}

.blog-main-sidebar { 
  display: none;
  width: 250px; 
  /* background-color: yellow; */
}



/* ======================================================= blog nav */

.blog-nav  {
  margin: 0 20px 0 0
}


.blog-nav-tag-title { 
  font-weight: bold;
  font-size: 1.3em;
}

.blog-nav-tag-list {
  margin: 5px 0
}


.blog-nav-tag-list:hover {
  cursor: pointer;
  color: red;
  font-weight: bold;
  font-size: 1.4em;
}


/* ======================================================= blog list */
.blog-list-item-container { 
  width: 100%;   /* blog post list width */
  margin-top: 1rem;
}


.blog-list-title { 
  /* background-color: red; */
  height: 20px;
  font-size: 1.3em;
  font-weight: bold;
}

.blog-list-title:hover  { 
  cursor: pointer; 
}


.blog-list-item-content { 
  font-size: 0.9 rem;
  padding-top: 1rem;
}

.blog-list-item-tag { 
  display: flex;
  padding-top: 0.8rem;
}

.blog-list-item-date { 
  font-size: 1.1em;
  padding-top: 0.8rem;
  padding-bottom: 1.3rem;
}


/* ======================================================= blog view */
/* namcespace를 만들기 위해 blog-view 접두사를 사용한다. */
.blog-view-main { 
  width: 100%;
  display: table;
}

.blog-view-content, .blog-view-sidebar { 
  display: table-cell;
}

.blog-view-sidebar { 
  font-size: 0.9rem;
  padding-left: 0.7rem;
  width: 300px; 
}

.blog-view-sidebar > div { 
  top: 30%;
  height: 200px;
  position: sticky;
  border-left-style: solid; 
  border-left-width: 1px;
  border-color: rgb(237,245,239);
  padding-left: 0.9rem;
}


.blog-view-info { 
  display: flex;
  width: 100%;
}


.blog-view-info-title {
  font-size: 3rem;
  font-weight: bold;
}

.blog-view-info-date {
  flex-grow: 1;
  align-self: center;
}
.blog-view-info-button {
  width: 200px;
  text-align:right;
  align-self: center;
}

/* ======================================================= blog nav */

.blog-edit-main {
  display: flex;
  flex-direction: column;
}

.blog-edit-main-item { 
  margin-top: 0.9rem;
}

.blog-edit-main-editor {
  min-height: 400px;
}